# Data w/ Python Final Project

## Extract Data

In [11]:
# importing libraries
import requests
import pandas as pd

In [15]:
# Need For Loop here that loops through doj_record_id and uses passkey to get more than 1000 rows
url='https://data.sfgov.org/resource/ubqf-aqzw.json?$$app_token=PMAK-67982312824aff00013472a1-e4c48e5b8f130f85ea28909af7b60ad9f7'
params={'doj_record_id': 'U3801182212099D51C75'}
r=requests.get(url,params=params)
print(r.json())

{'code': 'permission_denied', 'error': True, 'message': 'Invalid app_token specified'}

In [13]:
# Using San Francisco Police Stops csv to create dataframe
df=pd.read_csv('/home/mariahwarren/Police_Department_Stop_Data_20250122.csv',usecols=['doj_record_id'])
df

               doj_record_id
0       U3801182212099D51C75
1       U38011822213C974B0F8
2       U3801182217DE44A11D0
3       U3801182216E4F98E00B
4       U380118222EAA40B9919
...                      ...
261869  U3801202744AEBE53ADA
261870  U38012223529515786D7
261871  U3801222358CEA13C6A5
261872  U3801222353D9DC2C45C
261873  U3801222595268195966

[261874 rows x 1 columns]

In [19]:
# Ingesting Rhode Island Kaggle Dataset and creating another dataframe
df2=pd.read_csv('/home/mariahwarren/police_project.csv/police_project.csv')
df2

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False